@use "./variables";

header {
    background: variables.$tertiary;
    margin-bottom: 90px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 70px;

    .header-image-container {
        width: 45%;
    }
    .header-text-container {
        width: 55%;
        padding: 0 90px;
    }
}